<div id="main-container" class="container">
  <h1 class="fancy_title">Soundcloud favorites</h1>
  <p class="info">
    Built by <a href="http://about.me/nikos.gereoudakis">Nikos Gereoudakis</a> with <a href="http://developers.soundcloud.com/">Soundcloud API</a>, <a href="http://twitter.github.com/bootstrap/">Twitter's bootstrap</a> and <a href="http://backbonejs.org/">Backbone</a> while waiting for soundcloud's next as a faster way to browse my favorites and my friends' favorites. It was built within a weekend and has been tested only in Chrome. Feel free to try it or <a href="">fork it</a>!
  </p>
  <p class="info">
    Also, do you know our Athens based label called <a href="http://soundcloud.com/echovolt-records">Echovolt Records</a>?
  </p>
</div>